# all ignore
/*

# not ignore
!alacritty

!nvim
nvim/.*
nvim/lazy-lock.json

!tmux/
tmux/*
!tmux/tmux.conf

!karabiner/
karabiner/*
!karabiner/karabiner.json

!lazygit
lazygit/.*
lazygit/state.yml

**/.gitignore
!/.gitignore
